* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  height: 3rem;
  display: flex;
  align-items: center;
  background: black;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
}
